<app-header></app-header>
<!-- ./inner_cont_body -->
<section class="inner_cont_body">
    <div class="container-fluid main_bg_white">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-side-menu></app-side-menu>
                <div class="admin_menus">
                    <div class="my_transport_all bg_admin_one">
                        <div class="goBack">
                            <a routerLink="/home" class="btn"><i class="fa fa-chevron-left"></i> Back</a>
                        </div>

                        <div class="transport_title">
                            <h3>Fee Overview</h3>
                            <a class="btn btn_goback" data-toggle="modal" data-target="#transport"><i class="fa fa-plus-circle"></i> Add</a>
                        </div>

                        <div class="search_div">
                            <input type="text" class="form-control" placeholder="Search">
                            <i class="fa fa-search"></i>
                        </div>

                        <div class="row inv_b_all">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="inv_b">
                                    <span>No. Inovices : </span>
                                    <strong>120</strong>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="inv_b">
                                    <span>No. Receipts : </span>
                                    <strong>120</strong>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="inv_b">
                                    <span>No. Students AP : </span>
                                    <strong>120</strong>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <nav>
                                    <div class="nav nav-tabs custom-nav-tab" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-total-invoice" data-toggle="tab" href="#nav-homework" role="tab" aria-controls="nav-home" aria-selected="true">Total Invoices = 100</a>
                                        <a class="nav-item nav-link" id="nav-total-receive" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Total Received = 80</a>
                                        <a class="nav-item nav-link" id="nav-balanced" data-toggle="tab" href="#nav-balance" role="tab" aria-controls="nav-balance" aria-selected="false">Balance = 20</a>
                                    </div>
                                </nav>

                                <div class="tab-content tab-custom-bdy" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-homework" role="tabpanel" aria-labelledby="nav-homework-tab">
                                        <div class="table-responsive">
                                            <table class="table custom_table_one custom_table_two table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Invoice No</th>
                                                        <th>Student Id</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <div class="table-responsive">
                                            <table class="table custom_table_one custom_table_two table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Invoice No</th>
                                                        <th>Student Id</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="nav-balance" role="tabpanel" aria-labelledby="nav-balanced-tab">
                                        <div class="table-responsive">
                                            <table class="table custom_table_one custom_table_two table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Invoice No</th>
                                                        <th>Student Id</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./admin_menus -->
            </div>
            <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container-fluid -->
</section>
<!-- ./inner_cont_body -->
<app-footer></app-footer>