<app-header></app-header>
<!-- ./inner_cont_body -->
<section class="inner_cont_body">
    <div class="container-fluid main_bg_white">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-side-menu></app-side-menu>
                <div class="admin_menus">

                    <ul>
                        <!-- <li class="goback-btn"><a routerLink="/fee-management"><i class="fa fa-chevron-left"></i><span>Go Back</span></a></li> -->
                        <li><a routerLink="/tuitionfee"><i class="fa fa-money"></i> <span>Add Class Tuition Fee</span></a></li>
                        <li><a routerLink="/otherfee"><i class="fa fa-money"></i> <span>Add Other Fee</span></a></li>
                        <li><a routerLink="/discount"><i class="fa fa-percent"></i><span>Add Discount</span></a></li>
                        <li><a routerLink="/fee-structure"><i class="fa fa-sitemap"></i> <span>View Fee Structure</span></a></li>
                    </ul>

                    <!-- <div class="my_transport_all bg_admin_one">
                        <div class="rounded_menu">
                            <ul>
                                <li><a routerLink="/fee-management">Go Back</a></li>
                                <li><a routerLink="/tuitionfee">Add Class Tuition Fee</a></li>
                                <li><a routerLink="/otherfee">Add Other Fee</a></li>
                                <li><a routerLink="/discount">Add Discount</a></li>
                                <li><a routerLink="/fee-structure">View Fee Structure</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- ./my_transport_all -->

                </div>
                <!-- ./admin_menus -->
            </div>
            <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container -->
</section>
<!-- ./inner_cont_body -->
<app-footer></app-footer>