.chat-attach {
    width: 60px;
    height: 50px;
    color: grey;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    background: none;
    position: absolute;
    right: 58px;
    top: 10px;
  }
  