.exp-cls{
    border: 1px solid #ccc;
    padding: 20px;
}
.cls-short{
    width: calc(100% - 29px);
}

.gender-field {
    width: 100%;
    height: 44px;
    display: flex;
    padding: 0px 12px;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #ced4da;
    justify-content: space-between;
}
.phionen
    input.form-control.ng-pristine.ng-valid.ng-touched{
        border: 1px solid red !important;
    
    
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child){
    border: 1px solid red !important;
}

.gender-radio-field {
    width:90px;
    display: flex;
    align-items: center;
}