<app-header></app-header>
<!-- ./inner_cont_body -->
<section class="inner_cont_body">
    <div class="container-fluid main_bg_white">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-side-menu></app-side-menu>
                <div class="admin_menus">
                    <div class="my_transport_all bg_admin_one">
                        <div class="rounded_menu">
                            <ul>
                                <!-- <li><a routerLink="/fee-management">Go Back</a></li> -->
                                <li><a href="javascript:;">Upload Invoices</a></li>
                                <li><a href="javascript:;">Upload Payments</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- ./my_transport_all -->

                </div>
                <!-- ./admin_menus -->
            </div>
            <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container-fluid -->
</section>
<!-- ./inner_cont_body -->
<app-footer></app-footer>