<app-header></app-header>
<!-- ./inner_cont_body -->
<section class="inner_cont_body">
    <div class="container-fluid main_bg_white">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-side-menu></app-side-menu>
                <div class="admin_menus js">
                    <div class="my_transport_all bg_admin_one">
                        <div class="transport_title titles_tl">
                            <h3>Change Password</h3>
                            <!-- <a class="btn btn_goback" href="javascript:;" (click)="navigateBack()"><i class="fa fa-chevron-left"></i> Back</a> -->
                        </div>
                        <div class="studnt_inv_form">
                            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                
                                <p class="success-txt" *ngIf="successMessage!=''">{{successMessage}}</p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Old Password</label>
                                            <input type="password" class="form-control" name="oldPassword" [(ngModel)]="model.oldPassword" #oldPassword="ngModel" [ngClass]="{ 'error': f.submitted && oldPassword.invalid }" required>
                                            <span class="error-txt" *ngIf="errorMessage!=''">{{errorMessage}}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input type="password" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" [ngClass]="{ 'error': f.submitted && newPassword.invalid }" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Cofirm New Password</label>
                                            <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'error': f.submitted && confirmPassword.invalid }" required>
                                        </div>
                                        <div *ngIf="passwordError!=''" class="error-txt">Passwords must match</div>
                                    </div>
    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="popup_p">
                                            <input type="submit" class="btn" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    <!-- ./my_transport_all -->
                </div>
                <!-- ./admin_menus -->
            </div>
            <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container-fluid -->
</section>
<!-- ./inner_cont_body -->

<app-footer></app-footer>