<app-header></app-header>
<section class="inner_cont_body">
    <div class="container-fluid main_bg_white">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-side-menu></app-side-menu>

                <div class="admin_menus">
                    <ul>
                        <li>
                            <a routerLink="/academic-assessment">
                                <i class="fa fa-graduation-cap"></i>
                                <span>Academic Assessments</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/extracurricular-assessment">
                                <i class="fa fa-bicycle"></i>
                                <span>Extracurriculur Assessments</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/behavioural-assessment">
                                <i class="fa fa-sign-language"></i>
                                <span>Behavioural Assessments</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- ./admin_menus -->
            </div>
            <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container-fluid -->
</section>
<!-- ./inner_cont_body -->
<app-footer></app-footer>