<app-header></app-header>
<!-- ./inner_cont_body -->
<section class="inner_cont_body privacy_policy_sec">
  <div class="container-fluid main_bg_white">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-side-menu></app-side-menu>
        <div class="admin_menus">
          <div class="my_transport_all bg_admin_one my-trans">
            <div class="transport_title">
              <h3>FAQ</h3>
            </div>
            <div class="privacy_p">

              <h3>How do I mark homework?</h3>

              <p>Click on home, select homework, click on review homework and you can input scores and click submit</p>

              <h3>How do I know parents signed off the homework?</h3>

              <p>Click on home select homework, click on review homework, parents who signed off the homework will have a green tick
              </p>
              <h3>How do I send a message to parents?</h3>

              <p>Click on home, click messaging, select the class and subject, select the students, type your message and click send</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
