<app-header></app-header>
<!-- ./inner_cont_body -->
<section class="inner_cont_body">
    <div class="container-fluid main_bg_white">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-side-menu></app-side-menu>
                <div class="admin_menus">
                    <div class="my_transport_all bg_admin_one">
                        <div class="transport_title">
                            <h3>Transport Attendance</h3>
                        </div>

                        <div class="my_transport">
                            <a>
                                <div class="my_transport_img">
                                    <img src="https://www.diamond.co.uk/images/content-sub-image/number-plates-01.png">
                                </div>
                                <!-- ./my_transport_img -->
                                <div class="my_transport_info">
                                    <span>School</span>
                                    <span><i class="fa fa-arrows-h"></i></span>
                                    <span>Location Name</span>
                                </div>
                                <!-- ./my_transport_info -->
                            </a>
                        </div>
                        <!-- ./my_transport -->

                        <div class="tab-custom-bdy">
                            <div class="table-responsive">
                                <table class="table custom_table_one custom_table_two table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Check In</th>
                                            <th>Check Out</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Joy John</td>
                                            <td>09:00 am</td>
                                            <td>09:30 am</td>
                                        </tr>
                                        <tr>
                                            <td>Joy John</td>
                                            <td>09:00 am</td>
                                            <td>09:30 am</td>
                                        </tr>
                                        <tr>
                                            <td>Joy John</td>
                                            <td>09:00 am</td>
                                            <td>09:30 am</td>
                                        </tr>
                                        <tr>
                                            <td>Joy John</td>
                                            <td>09:00 am</td>
                                            <td>09:30 am</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- ./tab-custom-bdy -->

                    </div>
                    <!-- ./my_transport -->
                </div>
                <!-- ./admin_menus -->
            </div>
            <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container -->
</section>
<!-- ./inner_cont_body -->
<app-footer></app-footer>