<app-header></app-header>
<!-- ./inner_cont_body -->
<section class="inner_cont_body">
    <div class="container-fluid main_bg_white">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-side-menu></app-side-menu>
                <div class="admin_menus">
                    <div class="my_transport_all bg_admin_one">
                        <div class="transport_title">
                            <h3>Time Table</h3>
                        </div>

                        <div class="search_div cls_mngmnt">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Class">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table custom_timetable table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Jan<span>31-2018</span></td>
                                        <td>1<span>31-2018</span></td>
                                        <td>2<span>31-2018</span></td>
                                        <td>3<span>31-2018</span></td>
                                        <td>4<span>31-2018</span></td>
                                        <td>5<span>31-2018</span></td>
                                        <td>6<span>31-2018</span></td>
                                        <td>7<span>31-2018</span></td>
                                        <td>8<span>31-2018</span></td>
                                        <td>9<span>31-2018</span></td>
                                        <td>10<span>31-2018</span></td>
                                    </tr>
                                    <tr>
                                        <td>Mon</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                    </tr>
                                    <tr>
                                        <td>Tue</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                    </tr>
                                    <tr>
                                        <td>Wed</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                    </tr>
                                    <tr>
                                        <td>Thu</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                    </tr>
                                    <tr>
                                        <td>Fri</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                        <td>Chem</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ./admin_menus -->
            </div>
            <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container -->
</section>
<!-- ./inner_cont_body -->
<app-footer></app-footer>