<app-header></app-header>
<!-- ./inner_cont_body -->
<section class="inner_cont_body">
    <div class="container-fluid main_bg_white">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-side-menu></app-side-menu>
                <div class="admin_menus">
                    <div class="my_transport_all bg_admin_one">
                        <div class="goBack">
                            <a routerLink="/home" class="btn"><i class="fa fa-chevron-left"></i> Back to Home</a>
                        </div>

                        <div class="transport_title titles_tl">
                            <h3>Role Management</h3>
                            <a class="btn btn_goback" data-toggle="modal" data-target="#transport"><i class="fa fa-plus-circle"></i> Add</a>
                        </div>

                        <div class="search_div cls_mngmnt">
                            <input type="text" class="form-control" placeholder="Search">
                            <i class="fa fa-search"></i>
                        </div>

                        <div class="tab-custom-bdy">
                            <div class="table-responsive">
                                <table class="table custom_table_one custom_table_two table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Profile Name</th>
                                            <th>No. of Users</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Driver</td>
                                            <td>10</td>
                                            <td><a href="javascript:;" class="btn btn-light"><i class="fa fa-trash-o"></i> Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>Nurse</td>
                                            <td>10</td>
                                            <td><a href="javascript:;" class="btn btn-light"><i class="fa fa-trash-o"></i> Delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./admin_menus -->
            </div>
            <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container-fluid -->
</section>
<!-- ./inner_cont_body -->

<!-- Transport popup -->
<div id="transport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Role</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- ./modal-header -->
            <div class="modal-body">

                <div class="popup_p">
                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingTwo1">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                    <h5 class="mb-0">
                                        Profile Management <i class="fa fa-plus rotate-icon pull-right"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordionEx1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingTwo2">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21" aria-expanded="false" aria-controls="collapseTwo21">
                                    <h5 class="mb-0">
                                        Messaging <i class="fa fa-plus rotate-icon pull-right"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21" data-parent="#accordionEx1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingThree31">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31" aria-expanded="false" aria-controls="collapseThree31">
                                    <h5 class="mb-0">
                                        Homework <i class="fa fa-plus rotate-icon pull-right"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31" data-parent="#accordionEx1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingFour4">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                                    <h5 class="mb-0">
                                        Assessments <i class="fa fa-plus rotate-icon pull-right"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingFive5">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseFive5" aria-expanded="false" aria-controls="collapseFive5">
                                    <h5 class="mb-0">
                                        Learning and Development <i class="fa fa-plus rotate-icon pull-right"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5" data-parent="#accordionEx1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingSix6">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseSix6" aria-expanded="false" aria-controls="collapseSix6">
                                    <h5 class="mb-0">
                                        Timetable <i class="fa fa-plus rotate-icon pull-right"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseSix6" class="collapse" role="tabpanel" aria-labelledby="headingSix6" data-parent="#accordionEx1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingSeven7">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseSeven7" aria-expanded="false" aria-controls="collapseSeven7">
                                    <h5 class="mb-0">
                                        Calendar <i class="fa fa-plus rotate-icon pull-right"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseSeven7" class="collapse" role="tabpanel" aria-labelledby="headingSeven7" data-parent="#accordionEx1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingEight8">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseEight8" aria-expanded="false" aria-controls="collapseEight8">
                                    <h5 class="mb-0">
                                        Curriculum <i class="fa fa-plus rotate-icon pull-right"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseEight8" class="collapse" role="tabpanel" aria-labelledby="headingEight8" data-parent="#accordionEx1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingNine9">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseNine9" aria-expanded="false" aria-controls="collapseNine9">
                                    <h5 class="mb-0">
                                        Transport <i class="fa fa-plus rotate-icon pull-right"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseNine9" class="collapse" role="tabpanel" aria-labelledby="headingNine9" data-parent="#accordionEx1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingTen10">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTen10" aria-expanded="false" aria-controls="collapseTen10">
                                    <h5 class="mb-0">
                                        Fees <i class="fa fa-plus rotate-icon pull-right"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseTen10" class="collapse" role="tabpanel" aria-labelledby="headingTen10" data-parent="#accordionEx1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingEleven11">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseEleven11" aria-expanded="false" aria-controls="collapseEleven11">
                                    <h5 class="mb-0">
                                        School Management <i class="fa fa-plus rotate-icon pull-right"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseEleven11" class="collapse" role="tabpanel" aria-labelledby="headingEleven11" data-parent="#accordionEx1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                    </div>
                    <!-- Accordion wrapper -->
                </div>

            </div>
            <!-- ./modal-body -->
        </div>
        <!-- ./modal-content -->

    </div>
    <!-- ./modal-dialog -->
</div>
<!-- #/transport -->


<app-footer></app-footer>