<app-header></app-header>
<section class="inner_cont_body">
    <div class="container-fluid main_bg_white">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-side-menu></app-side-menu>

                <div class="admin_menus">
                    <div class="my_transport_all bg_admin_one">
                        <div class="transport_title">
                            <h3>View Progress</h3>
                        </div>

                        <div class="selct_class_dropdown">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <select class="form-control">
                                        <option>Effort</option>
                                    </select>
                                    </div>
                                </div>
                                <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
                            </div>
                            <!-- ./row -->
                        </div>
                        <!-- ./selct_class_dropdown -->

                        <div class="stdnt_progrss">
                            <img src="https://www.sesp.northwestern.edu/files/img/news/2017-story/Constance_Lindsay.jpg">
                            <div class="stdnt_progrss_txts">
                                <h5>Maise Williams</h5>
                                <span>5</span>
                            </div>
                        </div>
                        <!-- ./stdnt_progrss -->

                        <div class="view_progress_graph">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Sin.svg/500px-Sin.svg.png" width="100%">
                        </div>

                        <div class="tab-custom-bdy">
                            <div class="table-responsive">
                                <table class="table custom_table_one custom_table_two table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Grade</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- ./tab-custom-bdy -->

                    </div>
                    <!-- ./my_transport -->
                </div>
                <!-- ./admin_menus -->
            </div>
            <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container-fluid -->
</section>
<!-- ./inner_cont_body -->
<app-footer></app-footer>