<app-header></app-header>
<!-- ./inner_cont_body -->
<section class="inner_cont_body">
    <div class="container-fluid main_bg_white">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-side-menu></app-side-menu>
                <div class="admin_menus">

                    <ul>
                        <!-- <li class="goback-btn"><a routerLink="/home"><i class="fa fa-chevron-left"></i> <span>Go Back</span></a></li> -->
                        <li><a routerLink="/fee-overview"><i class="fa fa-calendar"></i> <span>Fee Overview</span></a></li>
                        <li><a routerLink="/setup-fee-structure"><i class="fa fa-calendar"></i> <span>Setup Fee Structure</span></a></li>
                        <!-- <li><a routerLink="/manage-fees">Manage Fees</a></li> -->
                    </ul>

                    <!-- <div class="my_transport_all bg_admin_one">
                        <div class="rounded_menu">
                            <ul>
                                <li><a routerLink="/home">Go Back</a></li>
                                <li><a routerLink="/fee-overview">Fee Overview</a></li>
                                <li><a routerLink="/setup-fee-structure">Setup Fee Structure</a></li>
                                <li><a routerLink="/manage-fees">Manage Fees</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- ./my_transport_all -->

                </div>
                <!-- ./admin_menus -->
            </div>
            <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container-fluid -->
</section>
<!-- ./inner_cont_body -->
<app-footer></app-footer>