<app-header></app-header>
<!-- ./inner_cont_body -->
<section class="inner_cont_body">
    <div class="container-fluid main_bg_white">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-side-menu></app-side-menu>
                <div class="admin_menus">
                    <div class="my_transport_all bg_admin_one">
                        <div class="goBack">
                            <a routerLink="/fee-management" class="btn"><i class="fa fa-chevron-left"></i> Back</a>
                        </div>

                        <div class="transport_title">
                            <h3>Fee Management</h3>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <nav>
                                    <div class="nav nav-tabs custom-nav-tab" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-total-invoice" data-toggle="tab" href="#nav-homework" role="tab" aria-controls="nav-home" aria-selected="true">General</a>
                                        <a class="nav-item nav-link" id="nav-total-receive" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Others</a>
                                    </div>
                                </nav>

                                <div class="tab-content tab-custom-bdy" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-homework" role="tabpanel" aria-labelledby="nav-homework-tab">
                                        <div class="inner_tab">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#class" role="tab" data-toggle="tab">Class</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#term" role="tab" data-toggle="tab">Term</a>
                                                </li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="class">
                                                    <div class="table-responsive">
                                                        <table class="table custom_table_one custom_table_two table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <a class="plus_icon_btn pull-right" data-toggle="modal" data-target="#transport"><i class="fa fa-plus"></i></a>
                                                </div>

                                                <div role="tabpanel" class="tab-pane" id="term">
                                                    <div class="table-responsive">
                                                        <table class="table custom_table_one custom_table_two table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <a class="plus_icon_btn pull-right" data-toggle="modal" data-target="#transport"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ./inner-tab -->
                                    </div>

                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <div class="inner_tab">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#class2" role="tab" data-toggle="tab">Class</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#term2" role="tab" data-toggle="tab">Term</a>
                                                </li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="class2">
                                                    <div class="table-responsive">
                                                        <table class="table custom_table_one custom_table_two table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <a class="plus_icon_btn pull-right" data-toggle="modal" data-target="#transport"><i class="fa fa-plus"></i></a>
                                                </div>

                                                <div role="tabpanel" class="tab-pane" id="term2">
                                                    <div class="table-responsive">
                                                        <table class="table custom_table_one custom_table_two table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tuition Fee</td>
                                                                    <td>$100</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <a class="plus_icon_btn pull-right" data-toggle="modal" data-target="#transport"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ./inner-tab -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./admin_menus -->
            </div>
            <!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container-fluid -->
</section>
<!-- ./inner_cont_body -->

<!------------------------------>
<!-------- Modal popups -------->
<!------------------------------>

<!-- Transport popup -->
<div id="transport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Fee Management</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- ./modal-header -->
            <div class="modal-body">

                <div class="popup_p">
                    <div class="join_community">
                        <div class="form-group">
                            <a href="javascript:;" class="btn class_btn" id="add_stud">Import From Excel</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Book Fee">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="$100">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn" value="Add">
                    </div>
                </div>

            </div>
            <!-- ./modal-body -->
        </div>
        <!-- ./modal-content -->

    </div>
    <!-- ./modal-dialog -->
</div>
<!-- #/transport -->


<app-footer></app-footer>